<div class="w3-display-container w3-container">
    <img src="../static/img/purificador.jpg" alt="Jeans" style="width:100%;">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <h1 class="w3-jumbo w3-hide-small">Pretende ganhar bónus?</h1>
      <p><a href="/desafio" class="w3-button w3-black w3-padding-large w3-large">Responda ao nosso desafio</a></p><br>
      <h1 class="w3-jumbo w3-hide-small">Tens planta/flor mas não sabes o nome? partilha a foto connosco e pede ajuda a comunidade.</h1>
      <p><a href="/partilha" class="w3-button w3-black w3-padding-large w3-large">partilhar foto</a></p>
    </div>
  </div>

 