{% extends "area_pessoal.html" %}
{% block title%}produtos{% endblock %}


{% block content %}







<style>
    body {font-family: "Times New Roman", Georgia, Serif;}
    h1, h2, h3, h4, h5, h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
    }
    </style>
    </head>
        <body>

                    <div class="w3-container w3-padding-64" id="contact">
                        <h3>Alterar palavra-passe</h3><br>
                        <form action="/password" method="post">
                            <p><input class="w3-input w3-padding-16" type="password" placeholder="Palavra-passe atual" required name="password1"></p>
                            <p><input class="w3-input w3-padding-16" type="password" placeholder="Palavra-passe nova" required name="password2"></p>
                            <p><input class="w3-input w3-padding-16" type="password" placeholder="Confirmar palavra-passe nova" required name="password3"></p>
                            <p><button class="w3-button w3-light-grey w3-section" type="submit">Alterar</button></p>
                        </form>
                    </div>
            
                </div>

              </div>
    
    
    
  
    
        </body>

{% endblock %}